#tabel-siswa {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background: url(patternwh.png);
    border: 1px solid darkgrey; 
}
#tabel-siswa th, td {
    box-sizing: border-box;
    padding: 20px;
}
.link {
    color: red;
    text-decoration: none;
}
.link:hover {
    color: whitesmoke;
    background: salmon;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
}
#tabel-siswa h3 {
    font-size: 28px;
}
.center {
    margin: 50% 50%;
}
.center, .link {
    padding: 5px;
    border-radius: 20%;
}

